header {
    background-color: #57886C;
    color: #FEFCFB;
    font-weight: 900;
    height: 100px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 20pt;
    line-height: 90px;
}

main {
    width: 900px;
    height: 550px;
    background-color:#81A684;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav {
    background-color: #57886C;
    width: 220px;
    height: 210px;
    font-family: Tahoma, sans-serif;
    color: #FEFCFB;
    font-size: 18px;
    margin: 0 auto;
    text-align: left;
    display: block;
    float: left;
    margin-left: -5px;
    border-radius: 10px;

}
nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-right: 20px;
    line-height: 10px;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
}

nav a:hover {
    text-decoration: underline;
    background-color: #81A684;
    border-radius: 10px;
}
article {
    width: 600px;
    height: 200px;
    margin: auto;
    background-color: #FEFCFB;
    border: 2px solid #232C33;
    padding: 15px;
    text-align: center;
    margin-top: 0px;
}

article h2 {
    font-size: 18pt;
    color: #232C33;
}

article p {
    font-family: Tahoma, sans-serif;
    font-size: 15pt;
    color: #232C33;
    text-align: center;
}

#tekstenfoto {
    display: flex;
    margin-top: -10px;
    width: 900px;
    height: 320px;
}

#nogeenartikel {
    width: 475px;
    margin: 10px 5px -10px -5px;
    background-color: #FEFCFB;
    border: 2px solid #232C33;
    padding: 15px;
    text-align: center;
    font-size: 15pt;
    color: #232C33;
    border-radius: 10px;
}

#nogeenartikel h2 {
    font-size: 18pt;
    color: #232C33;
}

#nogeenartikel p {
    font-family: Tahoma, sans-serif;
    font-size: 15pt;
    color: #232C33;
}

 #afbeelding {
    width:450px;
    margin: 10px 10px -10px 5px;
    position: relative;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #57886C;
    color: #FEFCFB;
    width: 920px;
    height: 20px;
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    text-align: left;
    margin: auto;
    padding: 10px;
}
