header {
    background-color: #81A684;
    color: #FEFCFB;
    font-weight: 900;
    width: 910px;
    height: 100px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 21pt;
    line-height: 90px;
 }
 
 nav {
    background-color: #57886C;
    width: 920px;
    height: 30px;
    font-family: Tahoma, sans-serif;
    color: #FEFCFB;
    font-size: 18px;
    margin: auto;
    text-align: center;
    padding: 10px;
 }
 
 nav a {
   color:#FEFCFB ;
   text-decoration: none;
   margin-right: 20px;
   line-height: 10px;
   display: inline-block;
   width: 100px;
}
nav a:hover {
   text-decoration: underline;
   background-color: #81A684;
   border-radius: 5px;
   padding: 10px 15px;
}

 header, nav {
   overflow: hidden;
 }

main {
   width: 900px;
   height: 600px;
   background-color: #81A684;
   margin: 0 auto;
   padding: 20px;
}
 .groepje {
   display: flex;
   justify-content: space-between;
   width: 900px;
   margin: 0 auto; 
   overflow: hidden;
 }

 article {
    width: 380px;
    height: 360px;
    margin: 15px auto;
    background-color: #FEFCFB;
    border: 2px solid #232C33;
    padding: 10px;
    text-align: center;
    float: left;
    border-radius: 10px;
 }

 article h2 {
    font-size: 18pt;
    color: #232C33;
 }

 article p {
    font-family: Tahoma, sans-serif;
    font-size: 15pt;
    color: #232C33;
    text-align: center;
 }

 img {
   width: 440px; 
   height: auto; 
   margin: 15px 0 15px 10px;
   border: 2px solid #232C33;
   border-radius: 10px;

 }
 .artikeleronder {
   width: 900px;
   margin: 0 auto;
}
 .artikeltwee {
   width: 880px;
   height: 160px;
   background-color: #FEFCFB;
   border: 2px solid #232C33;
   padding: 10px;
   text-align: center;
   margin: 0 auto;
   border-radius: 10px;
 }
 .artikeltwee h2 {
   font-size: 18pt;
   color: #232C33;
   line-height: 1.5;
 }
.artikeltwee p {
   font-family: Tahoma, sans-serif;
   font-size: 15pt;
   color: #232C33;
   text-align: center;
}

footer {
   background-color: #57886C;
   width: 920px;
   height: 20px;
   font-family: Verdana, sans-serif;
   font-size: 12pt;
   color: #FEFCFB;
   text-align: left;
   margin: auto;
   padding: 10px;
   
}

