header {
    background-color: #81A684;
    color: #FEFCFB;
    font-weight: 900;
    width: 910px;
    height: 100px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-family: Verdana;
    font-size: 21pt;
    line-height: 90px;
 }
 
 nav {
    background-color: #57886C;
    width: 920px;
    height: 30px;
    font-family: Tahoma;
    color: #FEFCFB;
    font-size: 18px;
    margin: auto;
    text-align: center;
    padding: 10px;
 }
 
 nav a {
   color:#FEFCFB ;
   text-decoration: none;
   margin-right: 20px;
   line-height: 10px;
   display: inline-block;
   width: 100px;
}
nav a:hover {
   text-decoration: underline;
   background-color: #81A684;
   border-radius: 5px;
   padding: 10px 15px;
}

 header, nav {
   overflow: hidden;
 }

main {
   width: 900px;
   height: 600px;
   background-color: #81A684;
   margin: 0 auto;
   padding: 20px;
}
 .groepje {
   display: flex;
   justify-content: space-between;
   width: 900px;
   margin: 0 auto; 
   overflow: hidden;
 }

 article {
    width: 400px;
    height: 360px;
    margin:  0 0 10px 0;
    background-color: #FEFCFB;
    border: 2px solid #232C33;
    padding: 10px;
    text-align: center;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
 }

 article h2 {
    font-size: 18pt;
    color: #232C33;
 }

 article p {
    font-family: Tahoma;
    font-size: 15pt;
    color: #232C33;
    text-align: center;
 }

 img {
   width: 440px; 
   height: auto; 
   margin: 0 0 10px 0;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

 }
 .artikeleronder {
   width: 900px;
   margin: 0 auto;
}
 .artikeltwee {
   width: 880px;
   height: 160px;
   background-color: #FEFCFB;
   border: 2px solid #232C33;
   padding: 10px;
   text-align: center;
   margin: 0 auto;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

 }
 .artikeltwee h2 {
   font-size: 18pt;
   color: #232C33;
   line-height: 1.5;
   margin-top: 0px;
 }
.artikeltwee p {
   font-family: Tahoma;
   font-size: 15pt;
   color: #232C33;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 0px;

}

footer {
   background-color: #57886C;
   width: 920px;
   height: 20px;
   font-family: Verdana;
   font-size: 12pt;
   color: #FEFCFB;
   text-align: left;
   margin: auto;
   padding: 10px;
   
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 0px;
}

th {
   background-color: #57886C;
   color: #FEFCFB;
   font-weight: bold;
   padding: 10px;
   border: 1px solid #232C33
}

td {
   background-color: #FEFCFB;
   border: 1px solid #232C33;
   padding: 10px;
}

ul {
   list-style-type: circle;
}

li {
   color: #232C33;
   font-size: 13pt;
   font-family: Tahoma;
   text-align: left;
}
