main {
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

article {
    width: 880px;
    height: 160px;
    background-color: #fefcfb;
    border: 1px solid #232C23;
    text-align: center;
    margin: 0px auto 20px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.artikeltwee h2 {
    font-size: 18pt;
    color: #232C33;
    line-height: 1.5;
    margin-top: 0px;
  }
 .artikeltwee p {
    font-family: Tahoma, sans-serif;
    font-size: 15pt;
    color: #232C33;
    text-align: center;
    margin-top: 0px;
 }

 .groepjefotos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
 }

 .groepjefotos img {
    width: 420px;
    height: 300px;
    margin-right: 60px;
    border: 1px solid #232C23;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }
 ul {
   list-style-type: circle;
}

li {
   color: #FEFCFB;
   font-size: 16pt;
   font-family: Tahoma, sans-serif;
   text-align: left;
   text-decoration: underline;
}
 footer {
    background-color: #57886C;
    width: 920px;
    height: 40px;
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    color: #FEFCFB;
    text-align: left;
    margin: 10px 0 -20px -20px
 }